/* Utils */
/* Style */
/* body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
} */
.container {
  width: 900px;
  height: 660px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #251f31;
  overflow: hidden;
  border: 20px solid white;
  box-shadow: 0 8px 20px rgba(74, 40, 126, 0.2);
  transition: border-radius 0.3s, width 1.2s, height 1.2s; }
  .container.active {
    border-radius: 0;
    width: 100%;
    height: 100%; }
  .container *,
  .container *:before,
  .container *:after {
    position: absolute;
    box-sizing: border-box; }

.moon_night {
  width: 250px;
  height: 250px;
  z-index: 4;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .moon_night .carter {
    width: 70px;
    height: 70px;
    background-color: #f0f0e3;
    border-radius: 50%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
    .moon_night .carter.second {
      width: _night7px;
      height: 27px;
      left: 84%;
      top: 55%;
      z-index: 2; }
    .moon_night .carter.third {
      width: 40px;
      height: 40px;
      left: 65%;
      top: 75%;
      z-index: 1; }
  .moon_night .moon-halo:after, .moon_night .moon-halo:before {
    content: '';
    display: inline-block; }
  .moon_night .moon-halo, .moon_night .moon-halo:after, .moon_night .moon-halo:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 0.2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform-origin: 0 0;
    animation: shine 1s ease-in-out infinite alternate; }
  .moon_night .moon-halo:before {
    width: 350px;
    height: 350px;
    animation-delay: 200ms; }
  .moon_night .moon-halo:after {
    width: 400px;
    height: 400px;
    animation-delay: 400ms; }

.meteors_night {
  width: 100%;
  height: 100%; }
  .meteors_night .meteor {
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 90px solid #fff;
    border-image: linear-gradient(to left, #fff, transparent) 1 100%;
    border-radius: 0 2px 2px 0;
    transform: rotate(30deg);
    position: absolute;
    top: 23%;
    left: 70%;
    opacity: 0;
    animation: shooting 4s linear infinite;
    animation-delay: 1s; }
    .meteors_night .meteor:nth-child(2) {
      top: 13%;
      left: 64%;
      border-right-width: 80px;
      animation-delay: 2s; }
    .meteors_night .meteor:nth-child(3) {
      top: 23%;
      left: 62%;
      border-right-width: 50px;
      animation-delay: 2.5s; }
    .meteors_night .meteor:nth-child(4) {
      top: 64%;
      left: 72%;
      border-right-width: 50px;
      animation-delay: 1.3s; }

.stars_night {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1em; }
  .stars_night .star {
    position: relative; }
    .stars_night .star:after, .stars_night .star:before {
      content: '';
      display: inline-block; }
    .stars_night .star, .stars_night .star:after, .stars_night .star:before {
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%; }
    .stars_night .star:nth-child(1) {
      opacity: 0.6659985871;
      transform: scale(0.1908886742); }
      .stars_night .star:nth-child(1):after {
        transform: translate(-70.533892922px, -16.8837446685px) scale(1.0336636363); }
      .stars_night .star:nth-child(1):before {
        transform: translate(79.4419882911px, 27.4765206822px) scale(0.3839608339); }
    .stars_night .star:nth-child(2) {
      opacity: 0.6468457595;
      transform: scale(0.7801015433); }
      .stars_night .star:nth-child(2):after {
        transform: translate(-17.4362162508px, -82.975463303px) scale(0.875187919); }
      .stars_night .star:nth-child(2):before {
        transform: translate(54.4423642689px, 10.2777716316px) scale(0.2376857879); }
    .stars_night .star:nth-child(3) {
      opacity: 0.7644962481;
      transform: scale(0.1979097537); }
      .stars_night .star:nth-child(3):after {
        transform: translate(-99.3804014551px, -57.1989687935px) scale(0.4586938333); }
      .stars_night .star:nth-child(3):before {
        transform: translate(72.5609886952px, 44.2196151928px) scale(1.1907437811); }
    .stars_night .star:nth-child(4) {
      opacity: 0.5713619852;
      transform: scale(0.5542627978); }
      .stars_night .star:nth-child(4):after {
        transform: translate(-69.5620132225px, -36.4469093424px) scale(0.7667316519); }
      .stars_night .star:nth-child(4):before {
        transform: translate(24.2758742376px, 12.4088984001px) scale(0.1643984838); }
    .stars_night .star:nth-child(5) {
      opacity: 0.4354530198;
      transform: scale(0.1747954181); }
      .stars_night .star:nth-child(5):after {
        transform: translate(-24.6598981135px, -59.7775199983px) scale(0.4379110443); }
      .stars_night .star:nth-child(5):before {
        transform: translate(74.2449605801px, 46.223249321px) scale(0.9004919658); }
    .stars_night .star:nth-child(6) {
      opacity: 0.1562000747;
      transform: scale(0.1984137215); }
      .stars_night .star:nth-child(6):after {
        transform: translate(-24.2991138829px, -63.6288929829px) scale(0.3806235765); }
      .stars_night .star:nth-child(6):before {
        transform: translate(70.0213664667px, 34.1916081179px) scale(0.7507837953); }
    .stars_night .star:nth-child(7) {
      opacity: 0.1676893476;
      transform: scale(0.3293021155); }
      .stars_night .star:nth-child(7):after {
        transform: translate(-9.7272479933px, -10.0694238352px) scale(1.024459631); }
      .stars_night .star:nth-child(7):before {
        transform: translate(31.3786236725px, 42.0270487413px) scale(0.0780682627); }
    .stars_night .star:nth-child(8) {
      opacity: 0.4263750199;
      transform: scale(0.6777743147); }
      .stars_night .star:nth-child(8):after {
        transform: translate(-91.5005993743px, -109.3901898545px) scale(0.4733069231); }
      .stars_night .star:nth-child(8):before {
        transform: translate(6.1543535108px, 6.9826800279px) scale(0.1004907811); }
    .stars_night .star:nth-child(9) {
      opacity: 0.4049834398;
      transform: scale(0.254459795); }
      .stars_night .star:nth-child(9):after {
        transform: translate(-44.4453665207px, -2.0394182044px) scale(0.7845756125); }
      .stars_night .star:nth-child(9):before {
        transform: translate(30.6597131534px, 47.1740208714px) scale(0.9396319542); }
    .stars_night .star:nth-child(10) {
      opacity: 0.3711599011;
      transform: scale(0.3105307235); }
      .stars_night .star:nth-child(10):after {
        transform: translate(-64.3629182858px, -19.4590421777px) scale(0.6004608382); }
      .stars_night .star:nth-child(10):before {
        transform: translate(43.514967152px, 39.746365789px) scale(0.707221912); }
    .stars_night .star:nth-child(11) {
      opacity: 0.8537047997;
      transform: scale(0.2317473222); }
      .stars_night .star:nth-child(11):after {
        transform: translate(-89.8509350227px, -85.2473177784px) scale(0.4258893251); }
      .stars_night .star:nth-child(11):before {
        transform: translate(31.1760039158px, 43.836428454px) scale(0.8683787992); }
    .stars_night .star:nth-child(12) {
      opacity: 0.899056906;
      transform: scale(0.9436802986); }
      .stars_night .star:nth-child(12):after {
        transform: translate(-17.3871949062px, -28.5388510412px) scale(1.1668183244); }
      .stars_night .star:nth-child(12):before {
        transform: translate(78.3201414758px, 47.1997269144px) scale(1.1552157273); }
    .stars_night .star:nth-child(13) {
      opacity: 0.4252278115;
      transform: scale(1.0486272154); }
      .stars_night .star:nth-child(13):after {
        transform: translate(-34.099549419px, -62.0902213019px) scale(0.1169986941); }
      .stars_night .star:nth-child(13):before {
        transform: translate(77.6334574803px, 48.302017764px) scale(0.3886446714); }
    .stars_night .star:nth-child(14) {
      opacity: 0.144294302;
      transform: scale(1.0533869383); }
      .stars_night .star:nth-child(14):after {
        transform: translate(-15.7543329992px, -108.0020825307px) scale(0.4615014799); }
      .stars_night .star:nth-child(14):before {
        transform: translate(26.4542964242px, 2.5267049388px) scale(0.2931458189); }
    .stars_night .star:nth-child(15) {
      opacity: 0.3080493243;
      transform: scale(0.1677557285); }
      .stars_night .star:nth-child(15):after {
        transform: translate(-20.882787664px, -45.449708524px) scale(0.9393364228); }
      .stars_night .star:nth-child(15):before {
        transform: translate(33.7236731977px, 24.9506312987px) scale(0.8954230875); }
    .stars_night .star:nth-child(16) {
      opacity: 1.0155679709;
      transform: scale(0.659492081); }
      .stars_night .star:nth-child(16):after {
        transform: translate(-23.5156341188px, -49.5202884843px) scale(0.8025783194); }
      .stars_night .star:nth-child(16):before {
        transform: translate(15.4733264708px, 58.6326228396px) scale(0.2718103396); }
    .stars_night .star:nth-child(17) {
      opacity: 0.3301538748;
      transform: scale(0.6308234462); }
      .stars_night .star:nth-child(17):after {
        transform: translate(-18.5448652719px, -0.0668993426px) scale(0.1958158889); }
      .stars_night .star:nth-child(17):before {
        transform: translate(58.5449283727px, 37.0014350124px) scale(0.1411126203); }
    .stars_night .star:nth-child(18) {
      opacity: 0.4807038024;
      transform: scale(0.4790026252); }
      .stars_night .star:nth-child(18):after {
        transform: translate(-54.7940237394px, -15.6251378428px) scale(0.843107805); }
      .stars_night .star:nth-child(18):before {
        transform: translate(31.8812934157px, 22.3906771748px) scale(0.7507266256); }
    .stars_night .star:nth-child(19) {
      opacity: 0.4676959513;
      transform: scale(0.4439614891); }
      .stars_night .star:nth-child(19):after {
        transform: translate(-5.5966564239px, -51.2245477139px) scale(0.6848635443); }
      .stars_night .star:nth-child(19):before {
        transform: translate(27.5623392595px, 21.8214936356px) scale(0.2449882013); }
    .stars_night .star:nth-child(20) {
      opacity: 0.8683978644;
      transform: scale(0.3373133542); }
      .stars_night .star:nth-child(20):after {
        transform: translate(-89.6614233857px, -46.9333547837px) scale(0.265682525); }
      .stars_night .star:nth-child(20):before {
        transform: translate(60.093043543px, 23.2848551002px) scale(0.5626923623); }
    .stars_night .star:nth-child(21) {
      opacity: 0.4976776334;
      transform: scale(0.7166011159); }
      .stars_night .star:nth-child(21):after {
        transform: translate(-7.7677797384px, -8.9740884723px) scale(0.2207359028); }
      .stars_night .star:nth-child(21):before {
        transform: translate(19.1021242681px, 6.1412872099px) scale(0.7962020651); }
    .stars_night .star:nth-child(22) {
      opacity: 0.3502463468;
      transform: scale(0.6338834644); }
      .stars_night .star:nth-child(22):after {
        transform: translate(-71.5378959147px, -38.4346104386px) scale(0.1541017318); }
      .stars_night .star:nth-child(22):before {
        transform: translate(61.2441561924px, 54.0750848325px) scale(0.6794286648); }
    .stars_night .star:nth-child(23) {
      opacity: 0.8757712367;
      transform: scale(0.5733839049); }
      .stars_night .star:nth-child(23):after {
        transform: translate(-62.9488871186px, -2.2644541742px) scale(0.3295815688); }
      .stars_night .star:nth-child(23):before {
        transform: translate(18.9435334479px, 20.2436996246px) scale(1.1373282226); }
    .stars_night .star:nth-child(24) {
      opacity: 0.2841829235;
      transform: scale(0.9713216689); }
      .stars_night .star:nth-child(24):after {
        transform: translate(-1.872318419px, -46.4591646003px) scale(0.4171304021); }
      .stars_night .star:nth-child(24):before {
        transform: translate(28.7464473792px, 22.1214711992px) scale(0.4022928931); }
    .stars_night .star:nth-child(25) {
      opacity: 0.5654569309;
      transform: scale(1.0132597828); }
      .stars_night .star:nth-child(25):after {
        transform: translate(-44.1638673163px, -101.1014248436px) scale(0.8016706369); }
      .stars_night .star:nth-child(25):before {
        transform: translate(51.1067043687px, 56.6192424243px) scale(0.9191041951); }

.planet_night {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#6cbee8, #7947c5, transparent);
  top: 14%;
  left: 6%;
  animation: breathe 1.5s ease-in-out infinite alternate; }

.mountains_night {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  z-index: 5; }
  .mountains_night:before, .mountains_night:after {
    content: "";
    background: linear-gradient(to bottom, #0d0b12 5%, #251f31);
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 40px;
    transform: rotate(45deg);
    box-shadow: 2px -2px 0 #7947c5; }
  .mountains_night:before {
    left: -15%;
    top: 40%; }
  .mountains_night:after {
    left: 33%;
    top: 55%; }

/* Animations */
@keyframes breathe {
  from {
    transform: translate(0, -2%); }
  to {
    transform: translate(0, 2%); } }
@keyframes shine {
  from {
    transform: scale(1) translate(-50%, -50%); }
  to {
    transform: scale(1.02) translate(-50%, -50%); } }
@keyframes shooting {
  0% {
    transform: rotate(30deg) translate(-100%, -100%);
    opacity: 1; }
  20% {
    transform: rotate(30deg) translate(100%, 100%);
    opacity: 0; }
  100% {
    transform: rotate(30deg) translate(100%, 100%);
    opacity: 0; } }

/*# sourceMappingURL=moon_night.css.map */
