/* Utils */
/* Style */
/* body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
} */
.container {
  width: 900px;
  height: 660px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #251f31;
  overflow: hidden;
  border: 20px solid white;
  box-shadow: 0 8px 20px rgba(74, 40, 126, 0.2);
  transition: border-radius 0.3s, width 1.2s, height 1.2s; }
  .container.active {
    border-radius: 0;
    width: 100%;
    height: 100%; }
  .container *,
  .container *:before,
  .container *:after {
    position: absolute;
    box-sizing: border-box; }

.moon_night {
  width: 250px;
  height: 250px;
  z-index: 4;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  background-color: #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .moon_night .carter {
    width: 70px;
    height: 70px;
    background-color: #f0f0e3;
    border-radius: 50%;
    left: 60%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; }
    .moon_night .carter.second {
      width: _night7px;
      height: 27px;
      left: 84%;
      top: 55%;
      z-index: 2; }
    .moon_night .carter.third {
      width: 40px;
      height: 40px;
      left: 65%;
      top: 75%;
      z-index: 1; }
  .moon_night .moon-halo:after, .moon_night .moon-halo:before {
    content: '';
    display: inline-block; }
  .moon_night .moon-halo, .moon_night .moon-halo:after, .moon_night .moon-halo:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    opacity: 0.2;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transform-origin: 0 0;
    animation: shine 1s ease-in-out infinite alternate; }
  .moon_night .moon-halo:before {
    width: 350px;
    height: 350px;
    animation-delay: 200ms; }
  .moon_night .moon-halo:after {
    width: 400px;
    height: 400px;
    animation-delay: 400ms; }

.meteors_night {
  width: 100%;
  height: 100%; }
  .meteors_night .meteor {
    width: 0;
    height: 0;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-right: 90px solid #fff;
    border-image: linear-gradient(to left, #fff, transparent) 1 100%;
    border-radius: 0 2px 2px 0;
    transform: rotate(30deg);
    position: absolute;
    top: 23%;
    left: 70%;
    opacity: 0;
    animation: shooting 4s linear infinite;
    animation-delay: 1s; }
    .meteors_night .meteor:nth-child(2) {
      top: 13%;
      left: 64%;
      border-right-width: 80px;
      animation-delay: 2s; }
    .meteors_night .meteor:nth-child(3) {
      top: 23%;
      left: 62%;
      border-right-width: 50px;
      animation-delay: 2.5s; }
    .meteors_night .meteor:nth-child(4) {
      top: 64%;
      left: 72%;
      border-right-width: 50px;
      animation-delay: 1.3s; }

.stars_night {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1em; }
  .stars_night .star {
    position: relative; }
    .stars_night .star:after, .stars_night .star:before {
      content: '';
      display: inline-block; }
    .stars_night .star, .stars_night .star:after, .stars_night .star:before {
      width: 4px;
      height: 4px;
      background-color: #fff;
      border-radius: 50%; }
    .stars_night .star:nth-child(1) {
      opacity: 0.2525148792;
      transform: scale(0.8922311201); }
      .stars_night .star:nth-child(1):after {
        transform: translate(-34.2790973523px, -14.1535700433px) scale(0.1404298292); }
      .stars_night .star:nth-child(1):before {
        transform: translate(60.4241123739px, 51.8740810522px) scale(0.4274918748); }
    .stars_night .star:nth-child(2) {
      opacity: 0.2285703384;
      transform: scale(0.7058249972); }
      .stars_night .star:nth-child(2):after {
        transform: translate(-58.8225235628px, -104.6188476808px) scale(0.5530479903); }
      .stars_night .star:nth-child(2):before {
        transform: translate(71.0611883303px, 10.7053581976px) scale(0.7756764133); }
    .stars_night .star:nth-child(3) {
      opacity: 1.0899326064;
      transform: scale(0.2520892618); }
      .stars_night .star:nth-child(3):after {
        transform: translate(-75.1267355692px, -0.2699639098px) scale(1.0608605496); }
      .stars_night .star:nth-child(3):before {
        transform: translate(2.8163255983px, 37.6450031475px) scale(0.3793976804); }
    .stars_night .star:nth-child(4) {
      opacity: 0.5725028056;
      transform: scale(0.8706087432); }
      .stars_night .star:nth-child(4):after {
        transform: translate(-79.5478534488px, -30.6739028922px) scale(0.2418550381); }
      .stars_night .star:nth-child(4):before {
        transform: translate(70.4288611394px, 59.5069423845px) scale(0.2293763585); }
    .stars_night .star:nth-child(5) {
      opacity: 0.8660829868;
      transform: scale(0.5771830159); }
      .stars_night .star:nth-child(5):after {
        transform: translate(-27.9596792593px, -117.9384906367px) scale(0.4373385847); }
      .stars_night .star:nth-child(5):before {
        transform: translate(7.7597471182px, 52.0352457829px) scale(1.0631456406); }
    .stars_night .star:nth-child(6) {
      opacity: 0.4307861628;
      transform: scale(0.8467696187); }
      .stars_night .star:nth-child(6):after {
        transform: translate(-21.0321004378px, -113.048199605px) scale(0.1367369062); }
      .stars_night .star:nth-child(6):before {
        transform: translate(48.2829951532px, 43.5841160514px) scale(0.9030401334); }
    .stars_night .star:nth-child(7) {
      opacity: 0.6791716326;
      transform: scale(0.8991845017); }
      .stars_night .star:nth-child(7):after {
        transform: translate(-31.6280497524px, -28.7028723034px) scale(1.150254602); }
      .stars_night .star:nth-child(7):before {
        transform: translate(5.5697861371px, 30.4087818514px) scale(0.2089119748); }
    .stars_night .star:nth-child(8) {
      opacity: 0.4329861068;
      transform: scale(0.3377046754); }
      .stars_night .star:nth-child(8):after {
        transform: translate(-28.6469281581px, -16.714338964px) scale(0.5771612913); }
      .stars_night .star:nth-child(8):before {
        transform: translate(68.3044066016px, 2.0253562969px) scale(0.2435075179); }
    .stars_night .star:nth-child(9) {
      opacity: 0.5375349438;
      transform: scale(0.2144706485); }
      .stars_night .star:nth-child(9):after {
        transform: translate(-73.0569498276px, -27.4263132748px) scale(0.9289114257); }
      .stars_night .star:nth-child(9):before {
        transform: translate(14.022302217px, 47.2148920875px) scale(0.5076107194); }
    .stars_night .star:nth-child(10) {
      opacity: 0.6855951001;
      transform: scale(0.6287594713); }
      .stars_night .star:nth-child(10):after {
        transform: translate(-90.2161533092px, -84.9909573938px) scale(0.661516823); }
      .stars_night .star:nth-child(10):before {
        transform: translate(36.8540588299px, 39.9999763124px) scale(0.5876468087); }
    .stars_night .star:nth-child(11) {
      opacity: 0.4784323783;
      transform: scale(0.1912810116); }
      .stars_night .star:nth-child(11):after {
        transform: translate(-55.5967233979px, -106.073175098px) scale(0.3899045513); }
      .stars_night .star:nth-child(11):before {
        transform: translate(75.9775362379px, 18.3223642427px) scale(0.3978550533); }
    .stars_night .star:nth-child(12) {
      opacity: 0.3848346033;
      transform: scale(0.2127625661); }
      .stars_night .star:nth-child(12):after {
        transform: translate(-98.8352229885px, -39.2356739595px) scale(0.4702419113); }
      .stars_night .star:nth-child(12):before {
        transform: translate(66.12823106px, 21.2770670548px) scale(1.0445043397); }
    .stars_night .star:nth-child(13) {
      opacity: 0.7603341;
      transform: scale(0.2697732815); }
      .stars_night .star:nth-child(13):after {
        transform: translate(-97.2420978624px, -94.4088866633px) scale(0.8534771859); }
      .stars_night .star:nth-child(13):before {
        transform: translate(0.7425500879px, 4.9181435612px) scale(1.102997943); }
    .stars_night .star:nth-child(14) {
      opacity: 0.3409568482;
      transform: scale(0.4578861336); }
      .stars_night .star:nth-child(14):after {
        transform: translate(-53.2124531269px, -40.6126830055px) scale(0.2008875028); }
      .stars_night .star:nth-child(14):before {
        transform: translate(18.0476503813px, 21.2523953856px) scale(0.1526520082); }
    .stars_night .star:nth-child(15) {
      opacity: 0.3385926311;
      transform: scale(0.8246671607); }
      .stars_night .star:nth-child(15):after {
        transform: translate(-52.5446997833px, -46.182988849px) scale(0.1856365484); }
      .stars_night .star:nth-child(15):before {
        transform: translate(77.5347672365px, 34.6468156496px) scale(0.1301887097); }
    .stars_night .star:nth-child(16) {
      opacity: 0.9051309775;
      transform: scale(0.6941596346); }
      .stars_night .star:nth-child(16):after {
        transform: translate(-10.4162557898px, -0.7940856838px) scale(0.248202835); }
      .stars_night .star:nth-child(16):before {
        transform: translate(50.2720442053px, 51.6856436922px) scale(0.5850766911); }
    .stars_night .star:nth-child(17) {
      opacity: 0.3457413359;
      transform: scale(0.3757926741); }
      .stars_night .star:nth-child(17):after {
        transform: translate(-83.7515858563px, -48.9333702749px) scale(1.0559686981); }
      .stars_night .star:nth-child(17):before {
        transform: translate(21.8210771832px, 20.3817952681px) scale(0.5278579892); }
    .stars_night .star:nth-child(18) {
      opacity: 0.4820820672;
      transform: scale(0.7156166488); }
      .stars_night .star:nth-child(18):after {
        transform: translate(-10.382066783px, -85.6308552259px) scale(0.9850515503); }
      .stars_night .star:nth-child(18):before {
        transform: translate(63.8996196476px, 22.744923873px) scale(0.5534156118); }
    .stars_night .star:nth-child(19) {
      opacity: 0.2564667107;
      transform: scale(0.4883616825); }
      .stars_night .star:nth-child(19):after {
        transform: translate(-97.5705444692px, -86.1197678194px) scale(0.9868212566); }
      .stars_night .star:nth-child(19):before {
        transform: translate(77.6965482889px, 15.6607780124px) scale(0.5121065459); }
    .stars_night .star:nth-child(20) {
      opacity: 0.9481598038;
      transform: scale(0.7362176904); }
      .stars_night .star:nth-child(20):after {
        transform: translate(-95.2887169092px, -74.7805572796px) scale(0.2722238674); }
      .stars_night .star:nth-child(20):before {
        transform: translate(41.3958835628px, 15.7184154239px) scale(0.768204369); }
    .stars_night .star:nth-child(21) {
      opacity: 0.3462986273;
      transform: scale(0.106745435); }
      .stars_night .star:nth-child(21):after {
        transform: translate(-81.6383101858px, -6.7137356087px) scale(0.3882905033); }
      .stars_night .star:nth-child(21):before {
        transform: translate(26.6392472083px, 7.5768428041px) scale(0.1044136441); }
    .stars_night .star:nth-child(22) {
      opacity: 0.7224304524;
      transform: scale(0.7627348739); }
      .stars_night .star:nth-child(22):after {
        transform: translate(-87.9909953411px, -88.251409902px) scale(1.1693538367); }
      .stars_night .star:nth-child(22):before {
        transform: translate(39.6817234416px, 23.2898529906px) scale(0.2738494557); }
    .stars_night .star:nth-child(23) {
      opacity: 0.4928540441;
      transform: scale(0.4078820259); }
      .stars_night .star:nth-child(23):after {
        transform: translate(-59.3827488551px, -47.8110119472px) scale(1.1342242375); }
      .stars_night .star:nth-child(23):before {
        transform: translate(8.9347317749px, 54.988346028px) scale(0.0984119886); }
    .stars_night .star:nth-child(24) {
      opacity: 1.0885728325;
      transform: scale(0.2180559722); }
      .stars_night .star:nth-child(24):after {
        transform: translate(-8.9512715068px, -76.2798676597px) scale(0.0902109303); }
      .stars_night .star:nth-child(24):before {
        transform: translate(44.0291604369px, 34.7672162603px) scale(0.8654350452); }
    .stars_night .star:nth-child(25) {
      opacity: 0.9399785275;
      transform: scale(1.0395782347); }
      .stars_night .star:nth-child(25):after {
        transform: translate(-35.8611563403px, -73.2008630204px) scale(0.6674281667); }
      .stars_night .star:nth-child(25):before {
        transform: translate(52.5171463801px, 21.9242181531px) scale(0.150830391); }

.planet_night {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(#6cbee8, #7947c5, transparent);
  top: 14%;
  left: 6%;
  animation: breathe 1.5s ease-in-out infinite alternate; }

.mountains_night {
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40%;
  z-index: 5; }
  .mountains_night:before, .mountains_night:after {
    content: "";
    background: linear-gradient(to bottom, #0d0b12 5%, #251f31);
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 40px;
    transform: rotate(45deg);
    box-shadow: 2px -2px 0 #7947c5; }
  .mountains_night:before {
    left: -15%;
    top: 40%; }
  .mountains_night:after {
    left: 33%;
    top: 55%; }

/* Animations */
@keyframes breathe {
  from {
    transform: translate(0, -2%); }
  to {
    transform: translate(0, 2%); } }
@keyframes shine {
  from {
    transform: scale(1) translate(-50%, -50%); }
  to {
    transform: scale(1.02) translate(-50%, -50%); } }
@keyframes shooting {
  0% {
    transform: rotate(30deg) translate(-100%, -100%);
    opacity: 1; }
  20% {
    transform: rotate(30deg) translate(100%, 100%);
    opacity: 0; }
  100% {
    transform: rotate(30deg) translate(100%, 100%);
    opacity: 0; } }

/*# sourceMappingURL=moon_night.css.map */
