/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;color: inherit;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}
img{vertical-align: top;border: none;}
button{border: none;font-family: inherit;cursor: pointer;}



/* =============================================================================
   My CSS
   ========================================================================== */

html,body{ 
	width:100%;
	height:100%;
}

.section{
   width: 100%;
   height: 100%;
   background-color: #666;
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.section + .section{
   background-color: #2c2d44;
   background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

/* 열려질 상세 모달 */
/* 모달 위치 고정  */
#dim, .modal{position: fixed;}
#dim{display: none;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0,0,0,.6);}
/* 모달 상세 컨텐츠 */
.modal{visibility: hidden;background: #fff;padding: 0 5vw;top: 50%;left: 50%;transform: translate(-50%, -50%);overflow: hidden;overflow-y: scroll;width: 80%;height: 80%;font-family: Do Hyeon;}
.modal_cnt{width: 100%;height: 300vw;}
.modal_cnt h1{width: 100%;text-align: center;padding: 20px 0;;margin: 40px 0 20px;font-size: 3vw;border-radius: 20px;}
.modal_cnt h1:focus{border: 2px solid #000;}
.modal_cnt h2{padding: 50px 0 30px;font-size: 2.4vw;font-weight: 500;color: #444;}
.modal_cnt h2:focus{border: none;}
.modal_cnt h2 span{border-bottom: 3px solid #555;}
.modal_cnt ul a li{height: 30vw;/* background: aqua; */padding-bottom: 6vw;}
.modal_cnt ul a li div{float: left;background: url(../image/laon.jpg) no-repeat center;width: calc(40vw);height: 30vw;background-size: cover;border: 3px solid #777;box-sizing: border-box;}
/* .modal_cnt ul a:nth-child(2) li div{background-image: url(../image/modal/Perceivable.jpg);} */
.modal_cnt ul a:nth-child(even) li div{float: right;}
.modal_cnt ul a li p{float: right;width: 35vw;height: 21vw;padding-top: 9vw;text-align: right;font-size: 1.8vw;color: #999;}
.modal_cnt ul a:nth-child(even) li p{float: left;text-align: left;}

/* 사진 교체용 */
.modal_cnt_ul1 a:nth-child(2) li div{background-image: url(../image/modal/sass.jpg);}
.modal_cnt_ul1 a:nth-child(3) li div{background-image: url(../image/modal/fucntion_mixin.jpg);}
.modal_cnt_ul1 a:nth-child(4) li div{background-image: url(../image/modal/flex.jpg);}

.modal_cnt_ul2 a:nth-child(1) li div{background-image: url(../image/modal/Perceivable.jpg);}
.modal_cnt_ul2 a:nth-child(2) li div{background-image: url(../image/modal/Operable.jpg);}
.modal_cnt_ul2 a:nth-child(3) li div{background-image: url(../image/modal/Understandable.jpg);}
.modal_cnt_ul2 a:nth-child(4) li div{background-image: url(../image/modal/Robust.jpg);}

/* 모달 닫기 버튼 */
.modal_close{position: absolute;right: 10px;top: 30px;width: 50px;height: 50px;background: #222;color: #fff;font-size: 20px;border-radius: 5px;line-height: 50px;}
.modal_close:focus{border: 3px solid #fff;}